<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is It My Birthday?</title>
    <style>
        h1 {
            text-align: center;
            font-size: 50px;
        }
        b {
            color: slateblue;
        }
    </style>
</head>
<body>
    {% if my_birthday %}
    <h1>Hurray!!! <b>HAPPY BIRTHDAY, AYODEJI</b></h1>

    {% else %}
    <h1>No, it is not your birthday. Wait till <b>Oct. 16</b></h1>
    {% endif %}
</body>
</html>